body {
    display: flex;
}

#board {
    display: flex;
    flex-direction: column-reverse;
    flex: 3;
    align-items: center;
    background-color: rgb(189, 255, 253);
}

#ground, #aboveGround {
    width: fit-content;
    height: fit-content;
}

#aboveGround{
    align-items: end;
    display: flex;
}

.city {
    flex: 1;
}

#menu {
    flex: 1;
    border: 2px solid black;
}

#bridge {
    width:70%;
    flex: 3fr;
}

img {
    width: 100%;
    object-fit: contain;
}

.upgrade-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.upgrade {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: #ffe600;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upgrade h4 {
    margin-top: 0;
    font-size: 18px;
    color: #000;
}

.upgrade p {
    font-size: 14px;
    color: #333;
}

h3 {
    margin-top: 25px;
    font-size: 24px;
    color: #000;
    text-align: center;
}

h2{
    text-align: center;
}