<html>
    <head>
        <title>Bridge</title>
        <link rel="stylesheet" href="bridge.css">
        <script type='text/javascript' src="/static/bridge.js"></script>
    </head>

    <body>
        <div id="board">
            <div id="ground"></div>
            <div id="aboveGround">
                <div id="city1" class="city">

                </div>
                <div id="bridge">

                </div>
                <div id="city2" class="city">

                </div>
            </div>
        </div>
        <div id="menu">
            <h1>Choose wisely!</h1>
            <div id="options"></div>
        </div>
    </body>
</html> 
