<html>
    <head>
        <title>Bridge</title>
        <link rel="stylesheet" href="/static/bridge.css">
        <script type='text/javascript' src="/static/bridge.js"></script>
    </head>

    <body>
        <div id="board">
            <div id="ground"><img src="static/ground.png" alt="ground"></div>
            <div id="aboveGround">
                <div id="city1" class="city">
                    <img src="static/city.png" alt="ground">
                </div>
                <div id="bridge">
                    <img src="static/b1.png" alt="ground">
                </div>
                <div id="city2" class="city">
                    <img src="static/city.png" alt="ground">
                </div>
            </div>
            <h1 id="money">Money: 0$</h1>
        </div>
        <div id="menu">
            <section id="upgrades">
                <div id="upgrade-box">
                    <h2>Upgrades</h2>

                    <h3>Commuter Upgrades</h3>
                    <div class="upgrade-section">
                        <div class="upgrade" id="addition">
                            <h4>Money Upgrade</h4>
                        </div>
                        <div class="upgrade" id="timeToComplete">
                            <h4>Speed Upgrade</h4>
                        </div>
                    </div>

                    <h3>Bridge Upgrades</h3>
                    <div class="upgrade-section" id="addition">
                        <div class="upgrade">
                            <h4>Toll Upgrade</h4>
                        </div>
                    </div>
                    <h3>Upgrade Bridge</h3>
                    <div class="upgrade-section">
                        <div class="upgrade" id="levelUpgrade">
                            <h4>Level Bridge</h4>
                        </div>
                    </div>
            </section>
        </div>
    </body>
</html> 
