<html>
    <head>
        <title>Character</title>
        <link rel="stylesheet" type="text/css" href="/static/css/character.css">
        <link href="https://googleapis.com" rel="stylesheet">
    </head>
    
    <body>
        <div id="character">
            <h1>Help needed!</h1>
            <h2>CHARACTER NAME</h2>
            <p>GET CHARACTER INFO FROM NOTES</p>
            <form method="POST" action="/character" id="gameForm">
                <div class="button-row">
                    <button type="submit" name="decision" value="yes" id="accept-button">Accept</button>
                    <button type="submit" name="decision" value="no" id="decline-button">Decline</button>
                </div>
            </form>
        </div>
     