<html>
    <head>
        <title>Endgame</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link href="https://googleapis.com" rel="stylesheet">
    </head>

    <body id="body">
        <div style="position: absolute; top: 10px; right: 10px;">
            <a href="/"><button class="playbutton">Home</button></a>
            <a href="/login"><button class="playbutton">Login</button></a>
        </div>
        <div class="container">
            <h1>A calamity is on course to hit the town and the bridge is in danger!</h1>
            <p>Your bridge was not strong enough to withstand the disaster, and it has collapsed. No one was there to help you.</p>
        </div>
    </body>
</html>