<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    </head>

    <body id="body">
        <div class="container">
            <h1>Welcome to Bridge<sup id="sup">2</sup>!</h1>
            <p>You are a newly graduated engineer and you wish to pursue your passion of building bridges. Choose your path wisely. </p>
        </div>
        <div class="space">

        </div>
        <a href="/bridge">
            <button id="playbutton">Play!</button>
        </a>

    </body>
</html> 
