<html>
    <head>
        <title>Upgrades</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/upgrades.css">
        <link href="https://googleapis.com" rel="stylesheet">
    </head>

    <body>
        <section id="upgrades">
            <div id="upgrade-box">
                <h2>Upgrades</h2>

                <h3>Commuter Upgrades</h3>
                <div class="upgrade-section">
                    <button class="upgrade">
                        <h4>Money Upgrade</h4>
                        <p>Get rewarded more money per person!</p>
                    </button>
                    <button class="upgrade">
                        <h4>Speed Limit</h4>
                        <p>Increase the speed limit on your bridge!</p>
                    </button>
                </div>

                <h3>Bridge Upgrades</h3>
                <div class="upgrade-section">
                    <button class="upgrade">
                        <h4>Toll Upgrade</h4>
                        <p>Your money is multiplied at the toll!</p>
                    </button>
                    <button class="upgrade">
                        <h4>Increase Capacity</h4>
                        <p>More people can use your bridge at once</p>
                    </button>
                    <button class="upgrade">
                        <h4>Upgrade Bridge</h4>
                        <p>Level up your bridge!</p>
                    </button>
                </div>
        </section>
    </body>
</html> 