<html>
    <head>
        <title>Upgrades</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/upgrades.css">
        <link href="https://googleapis.com" rel="stylesheet">
    </head>

    <body>
        <section id="upgrades">
            <div id="upgrade-box">
                <h2>Upgrades</h2>

                <h3>Commuter Upgrades</h3>
                <div class="upgrade-section">
                    <div class="upgrade">
                        <h4>Money Upgrade</h4>
                        <p>Increases the money per person</p>
                    </div>
                    <div class="upgrade">
                        <h4>Speed Upgrade</h4>
                        <p>Increases the speed of people passing the bridge</p>
                    </div>
                </div>

                <h3>Bridge Upgrades</h3>
                <div class="upgrade-section">
                    <div class="upgrade">
                        <h4>Toll Upgrade</h4>
                        <p>Increases a multiplier of money per person</p>
                    </div>
                    <div class="upgrade">
                        <h4>Capacity Upgrade</h4>
                        <p>Increases the amount of people passing</p>
                    </div>
                </div>
        </section>
    </body>
</html> 